---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro";
import BriefcaseIcon from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experiencie.astro";
import Projects from "../components/Projects.astro";
import { Code } from "astro:components";
---

<Layout
	title="Porfolio de Jesús - Desarrollador y Programador Web"
	description="Soy un apasionado Desarrollador Web Junior con un gran entusiasmo por la tecnología y el aprendizaje continuo."
>
	<main class="px-4">
		<SectionContainer class="py-44 pb-32">
			<h1
				class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
			>
				Hey Soy Jesús <a
					href="https://www.linkedin.com/in/jesus-hidalgo02/"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center"
					><Badge>Disponible para trabajar</Badge></a
				>
			</h1>
			<h2 class="text-xl lg:text-2xl pb-2 shadow-xl text-green-300">
				¡Bienvenido a mi portafolio!
			</h2>
			<h3 class="text-xl text-wrap max-w-[700px]">
				Soy un apasionado <span class="text-yellow-300/90 opacity-90"
					>Desarrollador Web Junior</span
				> con un gran entusiasmo por la tecnología y el aprendizaje continuo.
				Desde que descubrí mi interés por la programación, he estado dedicando
				tiempo y esfuerzo a mejorar mis habilidades y explorar nuevas tecnologías.
			</h3>
			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/jesus-hidalgo02/">
					<LinkedInIcon class="size-4 lg:size-6" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/JesusJham">
					<GitHubIcon class="size-4 lg:size-6" />
					GitHub
				</SocialPill>
				<SocialPill href="mailto:jhidalgo0202@gmail.com">
					<MailIcon class="size-4 lg:size-6" />
					jhidalgo0202@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="experiencia">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<BriefcaseIcon class="size-7" />
				Experiencia Laboral
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<CodeIcon class="size-7" />
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>
	</main>
</Layout>
