---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import Header from '../components/Header.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-44">
		<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10 " >Hey  Soy Jesús <a href="https://www.linkedin.com/in/jesus-hidalgo02/" target="_blank" rel="noopener" class="flex justify-center items-center"><Badge>Disponible para trabajar</Badge></a></h1>
		<h2 class="text-3xl pb-5" >Desarrollador Web Junior</h2>
		<h3 class="text-2xl pb-2 font-bold shadow-xl text-green-400">¡Bienvenido a mi portafolio!</h3>
		<h1 class="text-xl text-wrap">Soy un apasionado <span class="text-yellow-300/90 opacity-90">Desarrollador Web Junior</span> con un gran entusiasmo por la tecnología y el aprendizaje continuo. Desde que descubrí mi interés por la programación, he estado dedicando tiempo y esfuerzo a mejorar mis habilidades y explorar nuevas tecnologías.</h1>
		<ul></ul>
		</section>
	</main>
</Layout>


