---
import ExperiencieItem from "./ExperiencieItem.astro";

const EXPERIENCIE = [
    {
        date: "Actualmete...",
        title: "Application UI code in Tailwind CSS",
        description:
            "Get access to over 20+ pages including a dashboard layout, charts,kanban board, calendar, and pre-order E-commerce & Marketing pages.",
        link: "#",
    },
    {
        date: "Marzo 2022",
        title: "Marketing UI design in Figma",
        description:
            "All of the pages and components are first designed in Figma and we keep a parity between the two versions even as we update the project.",
        link: "#",
    },
];
---

<ol class="relative border-s border-gray-200 ml-3">
    {
        // Se utiliza el método map() para iterar sobre el array EXPERIENCIE
        EXPERIENCIE.map((experiencie) => (
            // Para cada objeto en el array, se renderiza un elemento <li> con la clase "mb-10 ms-4"
            <li class="mb-10 ms-4">
                {/* Se pasa el objeto experiencie como props al componente ExperiencieItem */}
                <ExperiencieItem {...experiencie} />
            </li>
        ))
    }

</ol>
