---
// Destructuración para extraer la propiedad className del objeto Astro.props
 const { class: className, id} = Astro.props
---

<!--!Renderizar un elemento <section> con clases condicionales--> 
<section id={id} class=`w-full mx-auto lg:w-[740px] ${className}`>
    <slot />
</section>